{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border: 1px solid black;
            text-align: left;
        }
    </style>
{% endblock %}
{% block body %}
<br><br><br><br><br><br><br><br>
    <center><h1>Search Results</h1></center>

    {% if consultations is empty %}
        <p>No results found.</p>
    {% else %}
    <center> <table border="1" >
     <tr>
                <th>id</th>
                <th>traitement</th>
                <th>numseance</th>
            </tr>
            {% for consultation in consultations %}
            <tr>
                <td>{{ consultation.id }}</td>
                <td>{{consultation.traitement}}</td>
                <td>{{consultation.numseance}}</td>
            </td>
            {% endfor %}
    </table>    </center>
    {% endif %}
{% endblock %}