{% extends 'frontbase.html.twig' %}

{% block title %}EventCategory
{% endblock %}

{% block body %}


	<table class="table">
		<thead>
			<tr>

				<th>Titre</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for event_category in event_categories %}
				<tr>

					<td>{{ event_category.titre }}</td>
					<td>{{ event_category.description }}</td>
					<td>
						<a href="{{ path('app_event_category_front_show', {'id': event_category.id}) }}">show</a>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
