{% extends 'frontbase.html.twig' %}

{% block title %}Passe
{% endblock %}

{% block body %}
	<h1>Passe</h1>

	<table class="table">
		<tbody>

			<tr>
				<th>Code</th>
				<td>{{ passe.code }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ passe.prix }}</td>
			</tr>
			<tr>
				<th>Evennement</th>
				<td>{{ passe.getEvennement().getTitre() }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_passe_front_index') }}">back to list</a>


{% endblock %}
