{% extends 'baseAchref.html.twig' %}

{% block title %}New Passe{% endblock %}

{% block body %}
    <h1>Create new Passe</h1>

    {{ include('passe/_form.html.twig') }}

    <a href="{{ path('app_passe_index') }}">back to list</a>
{% endblock %}
