
{% block body %}
<center>
  
    <h1>Menu</h1> 
    </center>
    <br>
    <br>
    <br>   
    <ul>   
    <li> Id : {{ menu.id }} </li>
        <br>
    <li> Titre : {{ menu.titre }} </li>
        <br>
    <li> Categorie : {{ menu.category }} </li>
    </ul>   
        


{% endblock %}