{% extends 'basefront.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        table {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border: 1px solid black;
            text-align: left;
        }
    </style>
{% endblock %}
{% block body %}
<br><br><br><br><br><br><br><br>
    <center><h1>Search Results</h1></center>
    
    {% if menus is empty %}
        <p>No results found.</p>
    {% else %}
    <center> <table border="1" >
     <tr>
                <th>ID</th>
                <th>Nom de Menu</th>
                <th>Categorie</th>
            </tr>
            {% for menu in menus %}
            <tr>
                <td>{{ menu.id }}</td>
                <td>{{menu.titre}}</td>
                <td>{{menu.category}}</td>
            </td>
            {% endfor %}
    </table>    </center>   
    {% endif %}
{% endblock %}
