{% extends 'basefront.html.twig' %}
{% block head %}

{% endblock %}


{% block body %}
<br><br><br><br><br><br><br><br><br><br><br>
    <div class="bg-secondary py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Liste Des Plats</h1>
            </div>
        </div>
    </div>
<br>

<div style="padding:0px 25px" >
<center>{{ include ('plat/searchform.html.twig') }} </center>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for plat in plats %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body -4" style="background-color: #F0F0F2">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Nom de Plat: {{ plat.titre }}</h5>
                            <h6 class="fw-bolder">Energy: {{ plat.caloris }} Kcal/100g</h6>
                            <div style="padding:20px 0 0 0">
                           <a href="{{ path('app_platfront_show', {'id': plat.id}) }}" style="color: #295C6E; border-radius: 5px; border: 1px solid #222875;  padding: 5px 10px; background-color: #D6D6D6;">Show Details</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <div class="alert alert-warning">No records found</div>
            </div>
        {% endfor %}
    </div>
</div>
<br>
</div>

{% endblock %}

