{% block body %}
    <h1>Plat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ plat.titre }}</td>
            </tr>
            <tr>
                <th>Caloris</th>
                <td>{{ plat.caloris }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ plat.id}}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}