
{% block body %}
<center>
  
    <h1>Plat</h1> 
    </center>
    <br>
    <br>
    <br>   
    <ul>   
    <li> Id : {{ plat.id }} </li>
        <br>
    <li> Titre : {{ plat.titre }} </li>
        <br>
    <li> Calories : {{ plat.caloris }} </li>
    </ul>   
        


{% endblock %}