  <form action="{{ path('search_plats') }}" method="get">
     <input type="text" name="searchQuery" placeholder="Chercher selon titre" style="font-size: 16px; padding: 8px;">
    <button type="submit" style="font-size: 16px; padding: 8px;">Search</button>
</form>