{% extends 'backbase.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<div class="shadow">
    <h1>Create new Article</h1>
    <h1>created at</h1>
<small>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</small>
    {{ include('article/_form.html.twig') }}
<a href="{{ path('app_article_index') }}">back to list</a>
    
</div>
    

{% endblock %}
