{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
      <h1>created at</h1>
<small>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</small>

<div class="form-group">
    <h1>Edit Article</h1>
  
    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

   

    {{ include('article/_delete_form.html.twig') }}</div>

{% endblock %}

