
{% block body %}
<center>
  
    <h1>ingrediant</h1> 
    </center>
    <br>
    <br>
    <br>   
    <ul>   
    <li> Titre : {{ ingrediant.titre }} </li>
        <br>
    <li> Calories : {{ ingrediant.caloris }} </li>
        <br>
    <li> Poids : {{ ingrediant.poids }} </li>
    </ul>   
        


{% endblock %}