{% block body %}
    <h1>Ingrediant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ ingrediant.titre }}</td>
            </tr>
            <tr>
                <th>Caloris</th>
                <td>{{ ingrediant.caloris }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ ingrediant.poids}}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}